@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  width: 88%;
  clear: both;
  color: #000;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill-opacity: 1;
}
#splform {
  transition: opacity 1s;
}

